<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymobileapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cooking Recipes in your pocket"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMobileApplication">
        <activity
            android:name=".DisplayGroceryListActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayRecipeActivity"
            android:exported="false"
            android:label="Display the recipe"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="Sign up "
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Log in "
            android:windowSoftInputMode="stateVisible|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".UserprofileActivity"
            android:exported="false"
            android:label="Your profile" />
        <activity
            android:name=".SearchRecipesActivity"
            android:exported="false"
            android:label="Search for a recipe"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".GroceryListActivity"
            android:exported="false"
            android:label="Add a new grocery list"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".AddRecipeActivity"
            android:exported="false"
            android:label="Add a new recipe"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Main page"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
    </application>

</manifest>